* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.page-header {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.page-header .main-nav {
  width: 90%;
  height: 4rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .main-nav__logo {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .main-nav__logo-img {
  width: 60px;
}

.page-header .main-nav .fade {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.2s 0.5s;
  transition: -webkit-transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s, -webkit-transform 0.2s 0.5s;
  -webkit-transition: opacity 0.5s 0.5s;
  transition: opacity 0.5s 0.5s;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: rgba(0, 0, 0, 0.5);
}

.page-header .main-nav .fade.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s 0.5s;
  transition: -webkit-transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s, -webkit-transform 0.2s 0.5s;
  -webkit-transition: opacity 0.5s 0.5s;
  transition: opacity 0.5s 0.5s;
  opacity: 1;
}

.page-header .main-nav__list {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 180px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.6s 0.3s;
  transition: 0.6s 0.3s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.page-header .main-nav__list li {
  padding: 30px 10px;
  width: 100%;
}

.page-header .main-nav__list.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  width: 220px;
}

.page-header .main-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(88, 53, 53, 0.4);
  color: rgba(238, 238, 238, 0.8);
}

.page-header .main-nav__toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: calc(2rem - 20px);
  right: calc(5vw);
  border: 0;
  background-color: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .main-nav__toggle:focus {
  outline: none;
}

.page-header .main-nav__toggle span {
  width: 80%;
  height: 5px;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #111111;
}

.page-header .main-nav__toggle span::before, .page-header .main-nav__toggle span::after {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111111;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.page-header .main-nav__toggle span::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.page-header .main-nav__toggle span::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-header .main-nav__toggle.active {
  position: fixed;
  top: calc(2rem - 20px);
  right: calc(5vw);
}

.page-header .main-nav__toggle.active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #eee;
}

.page-header .main-nav__toggle.active span::before, .page-header .main-nav__toggle.active span::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #eee;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.page-header .main-nav__toggle.active span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.page-header .section {
  position: relative;
}

.page-header .section__content {
  padding: 10%;
  text-align: center;
  margin-bottom: 50%;
  background: #68b738 url(../img/index-background-desktop.jpg) no-repeat center center/cover;
  color: #eee;
  position: relative;
  padding-bottom: 60%;
}

.page-header .section__content h2 {
  font-size: 36px;
}

.page-header .section__content p {
  font-size: 20px;
  margin-top: 1rem;
}

.page-header .section__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.page-header .section__img img {
  width: 100%;
}

.page-header .section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  padding: 10px 15px;
  background-color: #68b738;
  color: #eee;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.page-header .section__button:hover, .page-header .section__button:active {
  background-color: #5eaa2f;
  color: #d9d9d9;
}

.ads {
  padding: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
}

.ads__ad {
  background-color: #f2f2f2;
  padding: 8vw;
}

.ads__ad .ad__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15.625vw;
  height: 15.625vw;
  border-radius: 50%;
  background-color: #68b738;
  position: relative;
}

.ads__ad .ad__img img {
  max-width: 20.9375vw;
  max-height: 14.6875vw;
}

.ads__ad .ad__title {
  position: absolute;
  left: 200%;
  font-size: 1.5rem;
}

.ads p {
  padding: 5% 0;
  border-bottom: 1px solid #d9d9d9;
}

.ads .ad__link {
  display: block;
  padding: 5% 0 0 0;
  color: #111111;
  font-weight: 600;
}

.advantages {
  width: 100vw;
  padding: 5vw;
}

.advantages__title {
  font-size: 36px;
  margin-bottom: 20px;
}

.advantages .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.advantages .wrap .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .wrap .advantage__img {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .wrap .advantage__img img {
  width: 50px;
  height: 50px;
}

.advantages .wrap .advantage p {
  width: 80%;
}

.examples {
  width: 100vw;
  padding: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 40px;
  background-color: #d9d9d9;
}

.examples .content h2 {
  font-size: 36px;
  margin: 40px 0;
}

.examples .content > p {
  font-size: 16px;
  margin-bottom: 30px;
}

.examples .content .counting, .examples .content .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.examples .content .counting div, .examples .content .money div {
  width: 35%;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vw;
}

.examples .content .counting div p, .examples .content .money div p {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #d9d9d9;
}

.examples .content .money {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw;
  margin: 0;
}

.examples .content .money h3 {
  margin-right: 15vw;
}

.examples .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.examples .form img {
  width: 100%;
}

.examples .form label {
  margin: 30px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.examples .form label input {
  margin: 0 10px;
}

.address {
  width: 100vw;
  min-height: 400px;
  position: relative;
}

.address__content {
  height: 25%;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

.address__content h3 {
  font-size: 24px;
}

.address__content address {
  line-height: 20px;
}

.address__map {
  position: relative;
  height: 300px;
}

.address__map .map {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.address__map .navigator {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 50px;
}

footer {
  text-align: center;
  color: #444444;
}

footer > * {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #d9d9d9;
}

footer h2 {
  font-size: 36px;
  padding: 35px 0;
}

footer .social {
  padding: 30px 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social a {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social a:hover img, footer .social a:active img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer .social img {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  max-width: 30px;
  max-height: 22px;
}

footer .logo {
  padding: 30px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo img {
  width: 30px;
}

@media (min-width: 600px) {
  .page-header .main-nav__logo {
    width: auto;
  }
  .page-header .main-nav__list {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    background-color: transparent;
    width: 100%;
    height: auto;
  }
  .page-header .main-nav__list li {
    padding: 0;
    width: auto;
  }
  .page-header .main-nav__list-wrapper {
    width: 60%;
  }
  .page-header .main-nav__links {
    color: #111111;
    background-color: transparent;
  }
  .page-header .main-nav button {
    display: none;
  }
  .page-header .section__content {
    background: transparent;
    color: #111111;
    padding-bottom: 40%;
  }
  .page-header .section__button {
    width: 35%;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-header .section__img {
    z-index: -1;
    bottom: 0;
    width: 90%;
    max-width: 700px;
  }
  .advantages .wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .advantages .wrap .advantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 10px;
  }
  .advantages .wrap .advantage__img {
    margin-bottom: 20px;
  }
  .advantages .wrap .advantage p {
    width: auto;
  }
}

@media (min-width: 1000px) {
  .page-header {
    height: auto;
    position: relative;
  }
  .page-header .main-nav {
    height: 10rem;
  }
  .page-header .main-nav__list-wrapper {
    width: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    background: #68b738 url(../img/index-background-desktop.jpg) no-repeat center center/cover;
  }
  .page-header .main-nav__list {
    width: 70%;
    margin: auto;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header .main-nav__links {
    color: #eee;
  }
  .page-header .section__content {
    width: 50%;
    margin: 0;
  }
  .page-header .section__button {
    width: 30%;
    left: 25%;
  }
  .page-header .section__img {
    -webkit-transform: translate(0);
            transform: translate(0);
    top: 10%;
    left: 60%;
    width: 100%;
  }
  .ads {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 30px;
  }
  .ads__ad {
    padding: 10%;
  }
  .ads .ad__img {
    width: 100px;
    height: 100px;
  }
  .ads .ad__img img {
    width: 90px;
    height: 90px;
  }
  .ads .ad__title {
    left: 150%;
  }
  .advantages .wrap {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .examples {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .examples .content .money {
    width: 90%;
    margin: auto;
  }
  .examples .content .money h3 {
    margin-right: 0;
  }
  .address {
    position: relative;
  }
  .address__content {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: #eee;
    z-index: 100;
    padding: 5%;
    width: 40%;
    height: 50%;
  }
  .address__map {
    height: 400px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1% 5%;
  }
  footer * {
    border: 0;
  }
}
/*# sourceMappingURL=style.css.map */